@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);


#header3-5 H3 {
  font-family: 'Merriweather', serif;
  font-size: 48px;
}
#content1-6 P {
  font-family: 'Merriweather', serif;
  font-size: 16px;
}
#menu-r .mbr-brand__name {
  font-size: 16px;
}
#menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#menu-r .mbr-navbar__section {
  background: #7ac673;
}
#menu-r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-r .mbr-brand__name {
  font-size: 16px;
}
#menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#menu-r .mbr-navbar__section {
  background: #7ac673;
}
#menu-r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-r .mbr-brand__name {
  font-size: 16px;
}
#menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#menu-r .mbr-navbar__section {
  background: #7ac673;
}
#menu-r .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-j H3 {
  font-size: 48px;
}
#menu-r .mbr-brand__name {
  font-size: 16px;
}
#menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#menu-r .mbr-navbar__section {
  background: #7ac673;
}
#menu-r .mbr-navbar__hamburger {
  color: #ffffff;
}
#gallery1-t SMALL {
  text-align: center;
}
#menu-r .mbr-brand__name {
  font-size: 16px;
}
#menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#menu-r .mbr-navbar__section {
  background: #7ac673;
}
#menu-r .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-v H1 {
  color: #faaf40;
  text-align: center;
}
#menu-y .mbr-brand__name {
  font-size: 16px;
}
#menu-y.mbr-navbar--stuck .mbr-navbar__section {
  background: #7ac673;
}
#menu-y .mbr-navbar__section {
  background: #7ac673;
}
#menu-y .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-z H1 {
  color: #faaf40;
  text-align: center;
}
